body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    border: 2px solid lightblue;
    height: 700px;
    width: 350px;
    padding: 10px;
    text-align: left;
    margin: 20px auto;
}
a {
text-decoration: none;
}